.right_side {
  flex-grow: 3;
  max-width: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.main_container {
  height: 400px;
  flex-grow: 3;
  overflow: auto;
  box-shadow: 0 0 2px 0 rgb(0, 0, 0);
  margin: 1px;
}

.main_container_dark {
  height: 400px;
  flex-grow: 3;
  overflow: auto;
  box-shadow: 0 0 2px 0 rgb(255, 255, 255);
  margin: 1px;
}

.main_container_dark div {
  background: black !important;
}

@media screen and (max-width: 768px) {
  .right_side {
    max-width: unset;
  }

  .main_container {
    height: auto;
    overflow: unset;
  }

  .main_container_dark {
    height: auto;
    overflow: unset;
  }
}